<nav class="navbar navbar-light" style="background-color: transparent">
    <form class="container-fluid justify-content-start">
        <div class="leftbar">
            <button class="btn btn-outline-primary me-2" type="button" routerLink="/home">Home</button>
            <button class="btn btn-outline-primary me-2" type="button" routerLink="/users">UserDashboard</button>
        </div>
        <div class="rightbar">
            <button class="btn btn-outline-primary me-2" type="button" routerLink="/login">Login</button>
            <button class="btn btn-outline-primary me-2" type="button" routerLink="/signup">Signup</button>
            <button class="btn btn-outline-primary me-2" type="button" (click)="logout()">Logout</button>
        </div>
    </form>
  </nav>
<div class="bodyContainer">
    <router-outlet></router-outlet>
</div>
